fastapi==0.115.0
uvicorn[standard]==0.32.0
pydantic==2.9.2
python-dotenv==1.0.1
SQLAlchemy==2.0.35
psycopg[binary]==3.2.4
geoalchemy2==0.16.0
alembic==1.14.1
pytest==8.3.5
httpx==0.28.1

# future phase dependencies
# geojson
# shapely
# geopandas
# scikit-learn
# numpy
# pandas
# geopy
